.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
/* don't ask me to explain css, i have to guess and check constantly until it works, i am horrible with styling */
* {
  color: #B6C4B6;
}

body{
  background-color: #304D30;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
}

#card1 {

  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px #B6C4B6;
  background-image: url(./assets/images/vehicleBuilder.png)
}

#card2 {
  background-color: #EEF0E5;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px #B6C4B6;
  background-image: url(./assets/images/generator.png)
}

#card3 {
  background-color: #EEF0E5;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px #B6C4B6;
  background-image: url(./assets/images/cardCrush.png)
}

#NavDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  background-color: #EEF0E5;
}

.nav-tabs {
  display: flex;
  top: 0;
  margin: 0;
  margin-top: 0;
  list-style: none;
  text-decoration: none;
}


.nav-item {
  margin: 10px;
  border-radius: 7px;
  border: 3px, solid;
  text-decoration: none;
  padding: 0;
}

.nav-link {
  margin: 2px;
  color: #304D30;
}

.nav-link:hover {
  background-color: #B6C4B6;
  color: black;
  border-radius: 5px;
}

.nav-link.active {
  font-weight: bold;
  color: #163020;
}

#header-title {
  position: fixed;
  left: 0px;
  margin: 5px;
}

.homeContainer {
  position: fixed;
  top: 5px;
  /* left: 25%; */
}

form {
  position: fixed;
  top: 110px;
}

label {
  margin: 10px;
}

.PContainer {
  position: fixed;
  top: 110px;
}

footer {
  bottom: 10px;
  position: fixed;
  left: 50%;
}

.Avatar {
  max-width: 250px;
  border-radius: 180px;
  border: #B6C4B6 solid;
}

.AvatarContainer {
  position: fixed;
  left: 40%;
  bottom: 50px;
}

.git {
  margin-left: 10px;
  max-width: 20px;
  border-radius: 180px;
}

.card {
  color: #304D30;
}